<div *ngIf="user && selectedGroup" [style]="{height : '100%'}">
    
    <!-- group profile details -->
    <app-group-message-header></app-group-message-header>
    <!-- group profile end -->

    <!-- Rendering message list -->
    <app-group-message-body [messageList]="messageList" (replyMsgClicked)="replyMsg($event)"> </app-group-message-body>
    <!-- chat body end -->

    <!-- Chat footer start -->
    <app-group-message-footer [replyMsgId]="replyMsgId" [replyMsgContent]="replyMsgContent"></app-group-message-footer>
    <!-- chat footer end -->
</div>