<div class="chat-header border-bottom pb-2">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            
            <i class="feather icon-corner-up-left icon-md mr-2 ml-n2 text-muted d-lg-none"></i>
            <figure class="mb-0 mr-2">
                <img [src]="getProfile(selectedUser)" class="img-sm rounded-circle" alt="image">
                <div class="status online"></div>
                <div class="status online"></div>
            </figure>
            <div>
                <p>{{selectedUser.firstName}} {{selectedUser.lastName}}</p>
                <p class="text-muted tx-13">{{selectedUser.status}}</p>
            </div>
        </div>
        <div class="d-flex align-items-center mr-n1">
            
            <a href="" (click)="false">
                <i class="feather icon-video icon-md text-muted mr-3" ngbTooltip="Start video call"></i>
            </a>
            <a href="" (click)="false">
                <i class="feather icon-phone-call icon-md text-muted mr-0 mr-sm-3"
                    ngbTooltip="Start voice call"></i>
            </a>

        </div>
    </div>
</div>