.editIcon{
    cursor: pointer;
    color:#727cf5;
    font-size: 2rem;
}

.editIcon:hover{
    color : #4e5bf2;
}

.chatIcon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #6f668d;
}

.chatIcon:hover {
    color: #5e48a7;
}