<div class="text-center mt-3" *ngIf="!hasUser">
     <div id="g_id_onload"  
     data-client_id="673641779020-f19onebut126rjpp605nfl7qtmdsh9bd.apps.googleusercontent.com"
     data-context="signup"
     data-ux_mode="popup"
     data-callback="handleCredentialResponse"
     data-auto_prompt="false">
     
     <div style="display: inline-block;" class="g_id_signin"
     data-type="icon"
     data-shape="circle"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     ></div>
     </div>
</div>

<!-- <div>
     <asl-google-signin-button type='icon' size='large'></asl-google-signin-button>
</div> -->

<router-outlet></router-outlet>