<div class="chat-body" id="chat-body" [perfectScrollbar] #scrollContainer>
    <ul class="messages" *ngFor="let message of messageList; let i = index">

        <!-- for date -->
        <li class="text-center" *ngIf="i == 0 || (message.createdAt | date : 'mediumDate') !== (messageList[i-1].createdAt | date : 'mediumDate')"
            [style]="{'margin-bottom':'0.5rem !important'}">
            <p class="p-1 d-inline-block text-muted rounded" style="font-size: 0.7rem; background-color: rgba(194, 202, 209, 0.897);">{{message.createdAt | date : 'mediumDate'}}</p>
        </li>

        <!-- msgs -->
        <li class="message-item" [ngClass]="message.messageFrom === user.userName ? 'me' : 'friend'">

            <img [src]="getProfile(message.imageUrl)" class="img-xs rounded-circle" alt="avatar">

            <div class="content">
                <div class="message">

                    <div class="bubble" (dblclick)="replyMsg(message.id, message.content)" *ngIf="message.repliedTo || message.content" [ngClass]="message.messageFrom == user.userName ? 'mymsg' : ''">

                        <p class="text-success font-weight-bold" *ngIf="message.messageFrom !== user.userName">
                            ~{{message.firstName}} {{message.lastName}}
                        </p>

                        <p *ngIf="message.repliedTo !== null" class="text-muted"> <u>{{message.repliedTo}}</u> </p>

                        <p *ngIf="message.content" class="d-inline-block">{{message.content}}</p>
                        <p style="font-size: 0.5rem;" class="text-right">{{ message.createdAt | date : 'shortTime' }}</p>
                    </div>

                    <!-- render file -->
                    <div *ngIf="message.type !== 'text'">
                        
                        <img *ngIf="message.type === 'image'" [src]="getMsgUrl(message.filePath)" class="img-md" height="200px" width="200px" alt="avatar">

                        <video width="320" height="240" controls *ngIf="message.type === 'video'">
                            <source [src]="getMsgUrl(message.filePath)" type="video/mp4">
                            <source [src]="getMsgUrl(message.filePath)" type="video/ogg">
                          Your browser does not support the video tag.
                        </video>

                        <audio controls *ngIf="message.type === 'audio'">
                            <source [src]="getMsgUrl(message.filePath)" type="audio/ogg">
                            <source [src]="getMsgUrl(message.filePath)" type="audio/mpeg">
                          Your browser does not support the audio element.
                        </audio>
                        
                    </div>
                    
                    <div class="mt-2"  *ngIf="message.type !== 'text'">
                        <span class="d-box">{{ message.createdAt | date : 'shortTime' }}</span>
                    </div>
                    
                </div>
            </div>
        </li>
    </ul>
</div>
