.groupDetails {
    background-color: #e3ebeb !important;
    padding: 0rem;
}

.myDiv {
    padding-bottom : 0.6rem !important;
    padding-top : 0.6rem !important;
}


::-webkit-scrollbar {
    display: none; /* Set the width of the scrollbar */
}

.adminTag {
    color: #1b8748 !important;
    background-color: #e7fce3 !important;
}

.showCursor{
    cursor: pointer !important;
}
  