.myDiv {
    padding-bottom : 0.6rem !important;
    padding-top : 0.6rem !important;
}

.addGroup{
    background-color: #c2e7ef;
    border-radius: 0.7rem;
    font-weight: 500;
    cursor: pointer;
}