<div *ngIf="user && selectedUser" [style]="{height : '100%'}">
    
    <!-- user profile details -->
    <app-chat-message-header [selectedUser]="selectedUser"></app-chat-message-header>
    <!-- user profile end -->

    <!-- Rendering message list -->
    <app-chat-message-body [selectedUser]="selectedUser" [messageList]="messageList" (onReplyClick)="replyClicked($event)"></app-chat-message-body>

    <!-- Chat footer start -->
    <app-chat-message-footer [replyMsgId]="replyMsgId" [replyMsgContent]="replyMsgContent" [selectedUser]="selectedUser"></app-chat-message-footer>

    <!-- chat footer end -->
</div>

<!-- text from friend -->
<!-- <li class="message-item friend" *ngIf="message.messageFrom === selectedUser.userName && message.type === 'text'">
                <img [src]="getProfile(selectedUser)" class="img-xs rounded-circle" alt="avatar">
                <div class="content">
                    <div class="message">
                        <div class="bubble">
                            <p *ngIf="message.repliedTo !== null" class="text-muted"> <u>{{message.repliedTo}}</u> </p>
                            <p>{{message.content}}</p>
                        </div>
                        <div class="d-flex">
                            <span>{{ message.createdAt | date : 'shortTime' }}</span>
                            <a (click)="replyMsg(message.id, message.content)">
                                <i class="feather icon-corner-down-left icon-sm text-muted"
                                    ngbTooltip="Reply to message"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li> -->

<!-- text from you -->
<!-- <li class="message-item me" *ngIf="message.messageFrom === user.userName && message.type === 'text'">
                <img [src]="getProfile(user)" class="img-xs rounded-circle" alt="avatar">
                <div class="content">
                    <div class="message">
                        <div class="bubble mymsg" style="background: rgba(18, 187, 74, 0.2);">
                            <div>
                                <p *ngIf="message.repliedTo !== null" class="text-muted"> <u>{{message.repliedTo}}</u>
                                </p>
                            </div>
                            <div>
                                <p>{{ message.content }}</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <span>{{ message.createdAt | date : 'shortTime' }}</span>
                            <a (click)="replyMsg(message.id, message.content)">
                                <i class="feather icon-corner-down-left icon-sm text-muted"
                                    ngbTooltip="Reply to message"></i>
                            </a>
                        </div>
                        <div *ngIf="message.seenByReceiver == 1">
                            <span>Read</span>
                        </div>
                    </div>
                </div>
            </li> -->