::ng-deep .ng-dropdown-panel {
    position: relative !important;
    border: none !important;
    margin-top: 0.5rem !important;
}

.checkBtn{
    background-color: #00a884 !important;
    border-radius: 100%;
    color: white;
}
